
solutions/Reggie_Linear_Regression_Solution.ipynb
Page_Visits_Funnel_Project/.DS_Store
Page_Visits_Funnel_Project/.ipynb_checkpoints/Page_Funnel_Visits_Solution-checkpoint.ipynb
Page_Visits_Funnel_Project/cart.csv
Page_Visits_Funnel_Project/checkout.csv
Page_Visits_Funnel_Project/Page_Funnel_Visits.ipynb
Page_Visits_Funnel_Project/Page_Funnel_Visits_Solution.ipynb
Page_Visits_Funnel_Project/purchase.csv
Page_Visits_Funnel_Project/visits.csv
